[2019-10-22 13:46] ghost opened #1 "Split into modules"

[2019-10-22 13:47] rqrauhvmra opened #2 "Rewrite in ES6"

[2019-10-22 13:52] rqrauhvmra opened #3 "Emit events on state changes"

[2019-10-22 14:13] rqrauhvmra opened #4 "Embedded videos and content are not keyboard focusable"
Using the `Tab` key only focuses the Close and Prev/ Next buttons. A user is unable to focus an embedded video or focusable elements in HTML content using their keyboard.

[2020-03-02 11:31] #4 closed

[2020-03-09 10:49] midzer commented on #3
I think we should create and trigger events https://developer.mozilla.org/en-US/docs/Web/Guide/Events/Creating_and_triggering_events

This way we create hooks for `prev()`, `next()`, `open()` and `close()` functions the developer could listen to.

For one of my projects listening to `prev()` and `next()` would be very handy. I could create more lightbox elements in my media gallery dynamically htt

[2020-03-09 11:05] ghost commented on #3
Hey @midzer,

That would be great. I have already experimented with `CustomEvent()` but failed because I wanted to use something like this:

[code]

[2020-03-09 13:01] midzer commented on #3
Probably it can look like
[code]

[2020-03-09 13:55] danielpost commented on #3
I believe it would be trivial to add the `on` wrapper as well, using something like this (untested):

[code]

It wouldn't add much benefit other than a shorter syntax though.

[2020-03-09 14:02] ghost commented on #3
For explanation: The idea behind `on()` was to provide `off()` and `once()` in the future too.

[2020-03-10 10:23] danielpost opened #18 "Namespace [data-type] in CSS"
Currently, Tobii adds styling for `[data-type]` globally, which interferes with other elements on a site that have the `data-type` attribute (unrelated to Tobii). It would be good to change this to `.tobii [data-type]` or something similar.

[2020-03-11 13:22] midzer opened #20 "Purpose of callback functions"
Hi,
I did not investigate when you introduced all those `callback` arguments. As all involved functions are syncronous, I wonder why we need those arguments.

So writting
[code]
should be the same as
[code]
For my taste, those additional callback parameters just blow code up. Could you explain a possible use case for them?

Thanks in advance and have a nice day
midzer

[2020-03-11 15:30] ghost commented on #20
Hey @midzer,

I had a few projects that should do something after a tobi action (open and close), but only if there was no error. I admit I probably overdid it with prev() and next() :-)

I think all the callbacks can be replaced with the upcoming events.

[2020-05-15 21:01] SinnerAir opened #22 "Caption hides part image"
Caption hides part image. Is this done on purpose?

[2020-05-15 21:12] SinnerAir opened #23 "Close button and counter float on the picture"
Close button and counter float on the picture in mobile if the picture is stretched in height.

![22ea2ced31](https://user-images.githubusercontent.com/7911499/82097980-11628c80-9715-11ea-990d-1c1e1e292012.jpg)

I fixed it like this:
[code]

[2020-06-12 20:22] marcamos opened #24 "Any plans for Vimeo support?"
Hello! A quick question: are there any plans for Vimeo support in the same way YouTube is supported?

Thank you for making this – it's lovely.

[2020-06-15 16:49] marcamos opened #25 "Thought I'd share how I stop iframe > video from playing after closing Tobii"
Hello,

I'm in the process of building a page where Tobii launches a Vimeo video. As Vimeo _doesn't seem to be supported_ in the same way that YouTube is, I fell back to using the `iframe` feature of Tobii, and it works well.

What I then discovered is…

1. The Vimeo video is launched in the lightbox
2. The visitor presses play
3. When the visitor wants to stop watching, they close Tobii
4. At thi

[2020-06-16 06:57] ghost commented on #24
Hey @marcamos,

support for Vimeo is on my list, but it will take some time before it will appear with the final version 2. There is still a lot to do and so little time.

[2020-06-16 13:25] marcamos commented on #24
Thank you for the info!

[2020-06-30 16:50] marcamos opened #26 "Unwanted grouping"
Hello! I've setup a CodePen to point out _two_ issues I'm seeing, the first of which is **unwanted grouping**.

When I have more than one lightbox element _and_ I do not use the `data-group` attribute, the lightbox behaves as if I did. See it, here:

https://codepen.io/marcamos/pen/NWxaMXQ

[2020-06-30 16:52] marcamos opened #27 "Tabbing through hidden + grouped lightboxes"
Hello! I've setup a CodePen to point out _two_ issues I'm seeing, the second of which is **tabbing through hidden + grouped lightboxes**.

When a handful of grouped `data-type="html"` lightboxes are used, the tab "flow" seems to go through _all_ of them, instead of only through the one visible lightbox. See it, here:

https://codepen.io/marcamos/pen/NWxaMXQ

[2020-07-01 18:14] ghost commented on #26
Hi @marcamos,

 which browser do you use? I can't reproduce it. In your example all three containers are shown in one lightbox.

[2020-07-01 18:27] marcamos commented on #26
Hi @rqrauhvmra, thanks for replying. I've tried it in Firefox, Chrome, and Safari on macOS Mojave. Would you like a small screen-recording?

[2020-07-01 18:43] ghost commented on #26
That would be great.

[2020-07-01 18:51] marcamos commented on #26
In this (quick) screen-recording, I try to demonstrate two things:

1. How the lightbox items are grouped together, even though I didn't use the `data-group` attribute
2. When tabbing, the focus seems to travel to the hidden items before it gets to the visible item

[tobii.mov.zip](https://github.com/rqrauhvmra/tobii/files/4859846/tobii.mov.zip)

[2020-07-01 20:01] ghost commented on #26
Thanks for the screen recording.

That all three elements appear in a lightbox is a normal behavior. If elements are not separated with the `data-group` attribute, all elements with the class `lightbox` are displayed in the same lightbox.

Perhaps an additional option can help to change this behavior if someone uses the lightbox to want to display each element individually.

Regarding the tabbing

[2020-07-01 20:12] ghost commented on #27
Hi @marcamos,

I know this bug. The problem starts in issue #4. At the moment I don't know how to tab through the dynamically displayed HTML elements in the current slide (and the prev-, next- and close-buttons) without the hidden slides.

[2020-07-01 20:22] marcamos commented on #26
Aha, OK, thank you for the information. I thought the intended behavior was: "no grouping happens _unless explicitly asked for_ by using the `data-group` attribute."

[2020-07-01 20:22] #26 closed, assigned to nobody

[2020-07-01 20:23] marcamos commented on #27
Understood, thank you for the update!

[2020-07-01 20:27] ghost commented on #26
I'll write the additional option to change this behavior on my list.

[2020-07-01 20:33] marcamos commented on #26
[Thank you](https://media.giphy.com/media/QAsBwSjx9zVKoGp9nr/giphy.gif)

[2020-07-07 21:04] djmtype opened #28 "Inaccessible as a modal"
When using tobii as a modal, the modal contents are inaccessible via keyboard. They can't be focused on or read using the controls. Tested with Voiceover, Chrome on MacOS.

[code]

[2020-07-11 04:56] g0vegan opened #29 "Swipe-up and swiping off-image"
1)  Being able to swipe up, as well as left and right, leads to the image 'jumping around', which (to me) feels and looks odd in an image gallery.  I have set "swipeClose: false" so that Tobii no longer closes on swiping up, but the image still moves up when swiped up.
--> Is it possible to disable swipe-up if 'swipeClose' is false, just as swipe-down is always disabled?

2)  When swiping left or

[2020-07-11 11:21] ghost commented on #29
Hey @g0vegan,

1. Which version are you using? If `swipeClose` is `false`, the picture cannot be swiped up.
2. I will improve this point.

[2020-07-11 12:08] g0vegan commented on #29
I am not sure exactly where to find the version, but this is copied from package.json:

  "version": "2.0.0-alpha",
  "description": "An accessible, open-source lightbox with no dependencies.",
  "main": "dist/js/tobii.js",
  "style": "dist/css/tobii.css",
  "devDependencies": {
    "@babel/core": "^7.8.6",
    "@babel/preset-env": "^7.8.6",
    "@rollup/plugin-commonjs": "^11.0.2",
    "@rollup/p

[2020-07-11 17:40] ghost commented on #29
Thank you for your answer @g0vegan. Which browser do you use?

[2020-07-11 18:10] g0vegan commented on #29
I have tested on several browsers and it happens on all of them, the latest versions of:

Firefox
Chrome
Edge
Brave

The same thing happens on every one...

The only possibly unusual thing that I am doing is that I block the default click event as follows using CSS:

a.lightbox {
  pointer-events: none;
}

... and instead use a button that performs tobii.open(photoID) when clicked.  I cannot see h

[2020-07-16 08:02] ghost commented on #22
Hey @SinnerAir!

Yes, that's on purpose. Feel free to create a PR to add an option and its behavior.

[2020-07-16 14:13] #22 closed, assigned to nobody

[2020-08-03 06:39] SinnerAir opened #31 "Question: PreventDefault in touchmove event"
The code contains such a line  https://github.com/rqrauhvmra/tobii/blob/ac432322c09dc30eba853a17b252250ba87ed453/src/js/tobii.js#L1234
Can you find out what it is for? Because it does not provide the ability to scale with a gesture.

[2020-08-27 11:35] #2 closed

[2020-08-27 11:35] #3 closed

[2020-08-27 11:35] #18 closed, assigned to nobody

[2020-08-27 11:35] #20 closed, assigned to nobody

[2020-08-27 11:35] #27 closed, assigned to nobody

[2020-08-27 11:35] #29 closed, assigned to nobody

[2020-09-23 17:43] franMx opened #32 "can be used inside js function?"
Hi, not an issue per se, more of a question. Can tobbi be used inside a js function?

Used another library previously that allowed:

[code]

Is it possible to use tobii similar to that?

Thanks.

[2020-11-03 06:44] babobski opened #34 "Codepens are not working"
Would love to see it in action, but getting 404's on the codepen's on you're repo.

[2020-11-03 10:44] midzer commented on #34
Hi and thanks for your issue.

Right now, I've just replaced codepen with a live example https://github.com/midzer/tobii/commit/6ba4397d12c6ab87174cabe02a818c937b13ea67. Someday in the future I will bring back those initial codepens.

[2020-11-17 14:02] marcamos opened #35 "Thanks! tobii in production"
Not an issue at all, but I wanted to let you know that tobii is in use on a website my team just launched for a popular bike company in California, Marin Bikes. You can see it on a few pages:

- https://www.marinbikes.com/bikes/2021-alpine-trail-xr
- https://www.marinbikes.com/riders/global-team/matt-jones
- https://www.marinbikes.com/international-distributors

🎉

[2020-11-17 22:28] runxel opened #36 "Caption spreading multiple lines"
I need my captions to be multiple lines. Any way to achieve this?

[2020-11-18 09:12] eyal670 opened #37 "after closing a slide with an iframe playing sound inside, sound keep playing"
I'm loading a slide with a page inside iframe, the page has sound,
after closing the lightbox, the sound keep playing
I'm using this method to set the iframe slider:
[code]

[2020-11-19 17:22] ocean90 opened #38 "Allow caption text to be set from a callback"
The caption text is currently quite limited as it only supports an attribute on the element itself or the image. It would be nice to be able to use other sources for the caption text, like the content of an existing `figcaption` element.

This could be implemented by adding a new config which allows to set a custom callback. The callback would get the current element to be able to identify the cor

[2020-11-19 18:33] midzer commented on #35
Hey @marcamos
Cool to see tobii is used all around the world on popular pages!

Keep it up :+1:

Edit: I am going to keep it open for others to showcase their tobii powered websites as well :)

[2020-11-19 18:39] midzer commented on #32
To be honest, I dont know exactly. Have you tried it, @franMx ?
From my programming perspective, `lightbox` instance should be in global scope, because it is running all the time. Inside a function it may be garbage collected.

[2020-11-19 18:52] midzer commented on #36
@runxel Thanks for filling. Is this approach from mentioned PR good for you?

[2020-11-19 18:53] midzer commented on #37
@eyal670 Hi. Check out https://github.com/midzer/tobii/issues/25. This might be solved there.

Reopen if you still have issues.

[2020-11-19 18:53] #37 closed, assigned to nobody

[2020-11-19 18:56] midzer commented on #38
Awesome!

[2020-11-19 18:56] #38 closed, assigned to nobody

[2020-11-19 19:29] ocean90 commented on #36
The issue is probably the use of `textContent` which doesn't allow HTML and thus a `<br>` element. What might work is using a line break `\n` and setting `white-space: pre;` in CSS for the `figcaption` element.

[2020-11-19 19:43] franMx commented on #32
Hi midzer, ended up using a different library, as I wasn't able to get around some issues.

[2020-11-19 19:43] #32 closed, assigned to nobody

[2020-11-19 20:11] runxel commented on #36
Wow, very nice @ocean90! Great PR!
This was actually the next thing I wanted to have (usage of the already applied figcaption). And I certainly thought this would be a working solution, if we have this possibility, @midzer.

However, it doesn't work for me :(
I did it like the usage example in the PR, but the Firefox dev tools gave me an error:
`Uncaught TypeError: el.href is undefined`.

A better

[2020-11-19 20:18] ocean90 commented on #36
`selector` is the option to set the selector for the anchor elements. In your case you should keep the default value which is `'.lightbox'`. For `captionText` the following ES6 code should work:

[code]

As noted above, `textContent` ignores any HTML.

[2020-11-19 21:13] runxel commented on #36
Thank you so much for your help, @ocean90!

Tobii works now, and what else I did was using `caption.innerText` instead.
Now I can have a `figcaption` like this:
[code]

Nice! 💯

[2020-11-19 21:13] #36 closed, assigned to nobody

[2020-11-20 08:53] ocean90 opened #42 "Provide a registry API for supported elements/media types"
By default the library supports images, inline HTML, iframes and YouTube videos. There's already a comment "[you can add new type to support something new](https://github.com/midzer/tobii/blob/7804fa093412e5155eebed508c54e4dae0257836/src/js/tobii.js#L115)" but that's not true unless you change the source directly.
Idea: Provide an API that allows to add and remove media types.

This is related to

[2020-11-20 11:15] midzer commented on #42
I really like the idea! The possibility to have smaller bundle sizes is always good.

I'm kind of stuck at https://github.com/midzer/tobii/issues/1 and any help is warmly appreciated.

[2020-11-22 09:05] eyal670 commented on #37
thank you

[2020-12-06 15:57] HashandSalt opened #46 "Doesnt work with images containing query strings"
As this title the doesnt like images containing a query string (like those coming from the Shopify CDN). This was fixed on the first version of Tobi, but doesnt seem to have been carried over to Tobii.

[2021-01-05 21:11] Calinou opened #48 "Add license and link to library for easier license compliance"
Currently, the files in [`dist/js`](https://github.com/midzer/tobii/tree/production/dist/js) only state the following:

[code]

I suggest changing it to something like this:

[code]

The header should also be added to the CSS. This way, people using the library can comply with the license more easily. Thanks in advance :slightly_smiling_face:

[2021-01-06 17:43] Calinou commented on #35
Tobii is now used on [godotengine.org](https://godotengine.org): https://github.com/godotengine/godot-website/pull/232 ([tweet](https://twitter.com/HugoLocurcio/status/1346875001799061508))

Thanks :slightly_smiling_face:

[2021-01-06 18:27] midzer commented on #46
Hi @HashandSalt
To bad I don't have access to ancient Tobi code any more.

Can you give a more detailed example what is broken now?

[2021-01-06 18:30] midzer commented on #48
Hey @Calinou
Yup, good point. This should be done before v2 release

[2021-01-06 20:06] HashandSalt commented on #46
If the image that is the href target for the light box has a query string on the end, the light box opens with the cross in the corner, but there is no big image in it.

A shopify image has a version on the end like `someimage.jpg?v=234234234`

[2021-04-21 19:23] ocean90 opened #51 "Also publish on npmjs.com"
@midzer I just noticed that we still have an alpha version on https://www.npmjs.com/package/tobii released. Any chance to update the version there as well?

[2021-04-21 19:49] midzer commented on #51
@ocean90 thanks for your message.

To be honest I'm kinda stuck there. When I released v2 I ran into issues with `npm publish`. I even created an account there. Also I pushed an Action for it https://github.com/midzer/tobii/blob/production/.github/workflows/npm-publish.yml

Do you have an idea why it fails?

[2021-04-21 20:13] ocean90 commented on #51
@midzer  I think there are two issues:

* The new package name is `@midzer/tobii` which means this will be published on https://www.npmjs.com/package/@midzer/tobii. Might be good to publish a deprecation note with [npm-deprecate](https://docs.npmjs.com/cli/v7/commands/npm-deprecate) for old package name
* Jobs do not run sequentially so the change to the [npmrc](https://github.com/midzer/tobii/blo

[2021-04-23 17:44] midzer commented on #51
@ocean90 Is this what you mean https://github.com/midzer/tobii/commit/86cf68a7a9f81f4738a447b0eaf4e7050c37ed3d

If so, I will draft a new release

[2021-04-23 17:48] ocean90 commented on #51
Yes, let's give it a try.

[2021-04-23 17:51] midzer commented on #51
Okay, hang on a sec.

I tried to deprecate old `tobii` package. Too bad, the former maintainer did not transfer permissions to me, so I can't do it:

[code]

[2021-04-23 17:54] midzer commented on #51
@ocean90 GitHub Action fails :( publish-npm runs first. Shouldn't it run second?

[code]

[2021-04-23 18:20] ocean90 commented on #51
@midzer Submitted https://github.com/midzer/tobii/pull/52 which uses the official template.

[2021-04-23 18:50] ocean90 commented on #51
@midzer Uhh, the registry needs to be removed from the package.json...

https://github.com/midzer/tobii/blob/0b2127dcbb7275ccbae778374c125941955622aa/package.json#L61-L63

This overrides any npmrc setting.

[2021-04-23 18:58] midzer commented on #51
Now, we got a new error. Thanks for helping out on this issue!

[code]

[2021-04-23 19:02] ocean90 commented on #51
@midzer Did you verify your email? https://stackoverflow.com/a/64718961/3507335

[2021-04-23 19:15] midzer commented on #51
@ocean90 That was it!
Thanks for your hint. It is published now :1st_place_medal: https://www.npmjs.com/package/@midzer/tobii

[2021-04-23 19:15] #51 closed, assigned to nobody

[2021-04-26 14:56] ArturVasyliev opened #54 "No support for IE"
Looks like tobii doesn't work in IE (I use the latest IE for testing). I get an error in tobii.min.js and looks like it's related to arrow functions. Just wondering if there is a build that will work in IE?

[2021-04-26 17:26] midzer commented on #54
Thanks for filing @ArturVasyliev

Moving code base to ES6 with v2 and using microbundle (no transpile) we lost IE11 compatibility.

I am not in favor supporting an 8 year old browser in 2021. So we should update the README.

What do others think?
cc @ocean90

[2021-04-26 17:47] ocean90 commented on #54
That wasn't planned since we still include the polyfill for `CustomEvent`. This can easily be fixed by tweaking the browserslist config. @ArturVasyliev Can you give https://github.com/midzer/tobii/pull/55 a try?

[2021-04-27 05:25] ArturVasyliev commented on #54
Sorry for the late response. Thank you @ocean90 and @midzer very much for fixing it! Tested the build in IE11 and it works great. I think we can close the issue.

[2021-04-27 05:54] #54 closed, assigned to nobody

[2021-04-27 16:09] christopherjanzen opened #58 "Add "close" event"
Maybe I'm missing a technique that would easily allow me to watch for this, but it would be nice to have a "close" event like the "open", "next", and "previous" that are already available.

Use case: updating a slider slide index on close to match the lightbox's last open slide.

[2021-06-21 06:49] viliusle commented on #46
I believe it works fine with query strings. Maybe HashandSalt used  data-type="___something__" on image type, in this case it will not work and will give same issue as HashandSalt described.

[2021-06-21 06:55] viliusle commented on #42
Maybe it is too old ticket to reply, but do we really want to reduce file size, if total library size is only 8.6 kb compressed? It is already small.

p.s. I checked other 2 similar libs, results were 22kb and 38kb.

[2021-06-21 07:54] midzer commented on #46
@HashandSalt Can you confirm?

[2021-06-21 07:56] midzer commented on #42
@viliusle You're right. I think we have no urgency. But if some1 is willing to jump on this item, it would be nice for a tobii v3.

[2021-06-23 14:25] viliusle commented on #23
Another option is to let it overlap, but adapt styles in a way, that overlaping would not be a problem.
![Screenshot 2021-06-23 at 17 23 21](https://user-images.githubusercontent.com/3708786/123114389-ee41fa80-d447-11eb-86d5-b7a2c3260400.png)

[2021-06-23 15:15] viliusle opened #59 "ignore duplicates"
Library should ignore duplicates by default, because it makes no sense to loop through same image 3 times for example.

Use case: having 3 tabs with same HTML code.

[2021-06-23 16:17] viliusle opened #60 "inline HTML missing styles"
inline HTML modal dialog is missing default styles. I believe it should be included in library by default:

[code]

p.s. not related, but "Inline HTML" link on readme.md does not work.

[2021-06-25 14:26] viliusle opened #61 "animation issue"
Animation on second and third gallery items works only if you wait before opening second slide. If you open  gallery and try to load next and next and next item fast, there will be no animation, but it will appear for other items.

[2021-06-25 15:09] viliusle opened #62 "zoom icon"
1. Zoom icon is nice to have, but sometimes it must be disabled. Right now having button with image inside, zoom icon will appear and it will not look good.

Solution could be checking for data-zoom="false".

2. using inline SVG for zoom icon for each of link is bad for performance. CSS should be used.  Even it is not big deal, but having this activated by default for bis site will be a problem fo

[2021-06-26 17:55] viliusle opened #63 "Improve demo"
Current demo is very simple, it can give impressions that library is simple too and does not support advanced features. Also having good demo help developers with testing. i would probably include

Improvements :

- Image (single)
- Images (grouped)
- Inline HTML
- Iframe
- YouTube (not sure about it, since YouTube have to auto-play by default)
- YouTube (auto-play)
- Image with events (on-load, o

[2021-06-26 18:02] midzer commented on #63
Too bad the linked examples from former maintainer are gone -> leading to 404. This is why I had them removed from README.

Right now, I am rather busy with RL. So I can't jump on this topic at the moment.

If you feel you would like to contribute, just do it :)

[2021-06-26 18:05] midzer commented on #62
I don't use the zoom icon in my projects myself. I just have it disabled via `tobii` config.

@viliusle Wanna contribute on this one? I think its only a minor change to the code.

[2021-06-26 18:05] viliusle opened #64 "Inline HTML issue"
If multiple links use same unique ID selector for content (inline HTML type), only last link will work. Other will show empty dialog with no console errors.

[2021-06-26 18:07] viliusle opened #65 "Fullscreen support"
https://developer.mozilla.org/en-US/docs/Web/API/Fullscreen_API

p.s. priority is low, but it would be nice to have for users with big screens watching high resolutions images.

[2021-06-26 18:08] midzer commented on #61
I can reproduce this issue.

Gonna investigate when I have more time.

[2021-06-26 18:14] midzer commented on #60
@viliusle Can you show a screenshot involving those changes compared to current state?

I will happily merge this if you do a PR.

Thanks for your hint with the README. I've just fixed it https://github.com/midzer/tobii/commit/72bddfb1380496e475a8407658474dedf0e38e8e

[2021-06-26 18:18] viliusle commented on #62
@midzer I am going to create lots of issues, sorry about that.  After that I plan to contribute with multiple PR, if I will success with building, but I don't see any documentation about it.

Basically I am trying to use this lib on few site(s) that use lots of various use cases of lightbox.

p.s. you can reject low priority issues, but having some topics on issues list could help. Maybe other use

[2021-06-26 18:19] midzer commented on #59
I think we could `.filter()` incoming elements Array here https://github.com/midzer/tobii/blob/72bddfb1380496e475a8407658474dedf0e38e8e/src/js/index.js#L407 and look for any duplicates.

[2021-06-26 18:22] viliusle opened #66 "Retina images support"
Retina support should be nice to have.

of course, we developers can use simple trick with 2x image width and height with very high compression. 1x screens should render it as 50% width (quality becomes good), retina would also see this images as OK quality. But not tested yet with tobii lib.

p.s. low priority.

[2021-06-26 18:27] midzer commented on #58
@christopherjanzen Thanks for filling.

I think this just involves putting
[code]
at the end of `close()`.

Wanna contribute yourself, @christopherjanzen ?

[2021-06-26 18:30] midzer commented on #34
We have a demo page at https://midzer.github.io/tobii/demo/ (from https://github.com/midzer/tobii/tree/production/demo) now.
Feel free to extend it.

I close this one for good.

[2021-06-26 18:30] #34 closed, assigned to nobody

[2021-06-26 18:31] viliusle opened #67 "Data-target need more priority."
If you have iframe type link with `href` and `data-target`, library will ignore data-target. I believe data-target should overwrite href attribute:

- because data-target is optional, devs can remove it if you they dont want it.
- lets say we have link that goes to `/page.php`. Data-target value is `page.pph?version=modal`. Data-target will be ignored, but you can not change href, because this wil

[2021-06-26 18:32] midzer commented on #64
Looks like a bug to me, thanks for reporting.

[2021-06-26 18:43] viliusle opened #68 "Documentation improvements"
Right now it is difficult to understand what settings you can use for Tobii config during init or what you can use on element with `data-xxxxx`.  These are different things and supports different keys. There is info, but it is difficult to find and understand.

I suggest to create extra table for data-attributes:

- data-type
- data-target
- data-group
- data-width
- data-height
- data-controls

I

[2021-06-26 18:48] viliusle opened #69 "Autoplay youtube"
Videos in pages usually should not auto-play, its annoying.
But when you click on video to get modal dialog, it should always auto-play when modal dialog loads, because if not, user have to click 2 times to start watching video.

p.s. `autoplayVideo` should not exists or have true value by default.

[2021-06-26 19:01] viliusle opened #70 "Youtube API errors"
Sometimes if you have page with lots of resources, YouTube modal videos will throw random errors: (sometimes it works, sometimes video does not load, sometimes you get errors when you try to close video and dark overlay stays.....).

After googling, youtube devs says, it chrome issue, so there will be no fix ... And I understand that it is not your problem directly, but i want to find a way, since

[2021-06-26 19:04] viliusle commented on #61
I believe I found it:
https://github.com/midzer/tobii/blob/production/src/js/index.js#L732

p.s. as always, fixing something with timeout will only give you troubles in future.

[2021-06-27 19:15] viliusle opened #72 "Missing build instructions"
"npm run dev" works, but it only builds tobii.js.
"npm run build" throws "'BROWSERSLIST_ENV' is not recognized as an internal or external command,"

What are requirements? NPM only?

What is procedure to get working environment? is this correct?

[code]

[2021-06-27 19:21] #68 closed, assigned to nobody

[2021-06-27 19:29] midzer commented on #72
`npm run build` works for me.
I'm using npm 7.5.2 and node v12.21.0.

Are you on windows?

[2021-06-27 20:24] viliusle commented on #72
1. To make build work on Windows, you need:

- run `npm install --save-dev cross-env` command
- replace `BROWSERSLIST_ENV` to `cross-env BROWSERSLIST_ENV` on package.json

After that, build works on Windows and unix/mac (tested).

2. Still can not figure out what to do with `npm run dev`:

- dist/*.css is not updated, only dist/tobi.js
- demo with `dist/tobii.js` does not work: `module is not defi

[2021-06-27 20:43] viliusle commented on #72
2nd problem fixed using `microbundle watch --raw` and `demo/modern.html`.
So what is purpose of  `microbundle watch --raw --format cjs` ?

You have to write build instructions, first build takes too much time alone to make it work.

[2021-06-28 11:02] viliusle commented on #62
There are also problems about inline SVG. I updated first comment. One day we should fix it too.

p.s. right now disable zoom icon is right choice, but then it should not be activated by default.

[2021-06-29 20:28] viliusle opened #74 "Multiple instances does not work"
Multiple instances of Tobii does not work. Last will work, others - not.

Example:

[code]

[code]

This can be issue, when you want to track events, right now you get event from all objects, without knowing which exactly. (separate bug)

[2021-06-29 20:31] viliusle opened #75 "events missing data"
Events does not have any data, only name, it means you don't know from which element event was fired.

p.s. there is a way to pass data to events (as string). I can push PR to include lightbox media type or even target ID in event.

Basically I could not find a way to get events only from specific link. let me know if I missed something.

[2021-06-29 20:36] viliusle commented on #63
Another issue that we have 2 demos with 99% same code. It means, adding anything in demo, you have to duplicate to another modern demo too. Remember "DRY" ...

I wish we could remove one, but we need demo for webpage, and demo during development with live code watch.

[2021-06-29 20:47] midzer commented on #75
Noone requested it yes. So you're first.

Feel free to open a PR :)

[2021-06-29 20:50] midzer commented on #74
I am unsure whether we want/can support multiple tobii instances.

Whats an exact use case?

[2021-06-29 21:12] viliusle opened #76 "lint issues"
Lets update lint rules to make development faster.
Suggestions:

1.  allow `font-weight: bold;` - very common,
2. allow `color: #aabbcc` - fixing to `#abc` is not good idea, most apps / color pickers will let you get 6 symbols color code.

[2021-06-29 21:41] viliusle commented on #74
For example because of this bug: https://github.com/midzer/tobii/issues/75
But if we fix it, this becomes low priority or closed I guess.
Another idea is show console warning about multiple instances, so devs don't waste time doing it and not getting result they want?

[2021-06-30 15:43] viliusle commented on #60
Before:
![before](https://user-images.githubusercontent.com/3708786/123990405-683b2c00-d9d2-11eb-92e6-bbf1c252f425.jpg)
After:
![after](https://user-images.githubusercontent.com/3708786/123990421-6b361c80-d9d2-11eb-80fc-11efa0206077.jpg)

[2021-06-30 15:52] viliusle commented on #70
I fixed using YouTube in iframe mode.

[2021-06-30 15:52] #70 closed, assigned to nobody

[2021-06-30 16:38] #63 closed, assigned to nobody

[2021-06-30 16:39] #72 closed, assigned to nobody

[2021-06-30 16:40] #24 closed, assigned to nobody

[2021-06-30 16:40] #58 closed, assigned to nobody

[2021-06-30 16:40] #66 closed, assigned to nobody

[2021-06-30 16:41] #67 closed, assigned to nobody

[2021-06-30 16:41] #75 closed, assigned to nobody

[2021-06-30 16:41] #60 closed, assigned to nobody

[2021-06-30 16:44] marcamos commented on #24
🎉

[2021-06-30 18:16] viliusle commented on #72
@midzer  It would be good to enable wiki (read only) and create Building instructions article, and link it on readme.MD
You can also add contribution guide.

[2021-06-30 20:40] viliusle commented on #1
Step 1  - https://github.com/viliusle/tobii/commit/57c100f95de01b2ba8dad69cda0799a2ae206459
Looks like everything works fine.

[2021-07-01 18:53] viliusle commented on #25
It is fixed in latest version. Vimeo can be used with iframe now without additional coding. Check demo.

[2021-07-01 18:55] #25 closed, assigned to nobody

[2021-07-02 21:06] midzer commented on #69
I wished this parameter ages ago for those `<video>` in https://feuerwehr-eisolzried.de/media/

We can remove this in a v3 (breaking change) and set its behaviour to true, yes.

[2021-07-02 21:17] midzer commented on #62
As it would be a breaking change, we go for v3 on this one

[2021-07-02 21:26] midzer commented on #61
Updated relevant line: https://github.com/midzer/tobii/blob/4121463301e3241fd7e36cfa540d11c4f62a3173/src/js/index.js#L758

Would it be enough to put
[code]
just _after_ `next()` or `previous()` is called?

[2021-07-02 21:29] midzer commented on #23
I'm up for both.
Let's see what others think about this... cc @ocean90

[2021-07-02 21:33] midzer commented on #31
@SinnerAir Sorry for no reply the whole time. What do you mean by scale with a gesture?

via https://developpaper.com/implementation-of-html5-touch-events-touchstart-touchmove-and-touchend/

[2021-07-02 21:41] midzer commented on #48
Current dist files contain no comments at all. Is this possible with `microbundle`, @ocean90 ?

[2021-07-02 21:51] midzer opened #79 "Drop IE11"
I've found places in code where we can save some bytes by removing `.keyCode`. Current (optional) polyfill is for IE only, I think.

In Germany, less then 1% of users still use IE. So it's more or less dead after offical support has been dropped last year.

How about removing it for an upcoming v3?

[2021-07-03 18:28] viliusle commented on #79
I think it is not worth to work hard to support IE11, it means we can support only basic features, like open, next, previous, close. That's all.

I do not like dropping IE11 only to save few bytes.
If IE11 support would require extra development, then yes.

Overall, even dropping IE11, fallbacks will work on this browser, I mean click on image will still give you image (just not in modal window),

[2021-07-03 20:33] viliusle commented on #1
Code split complete. Please review https://github.com/viliusle/tobii/tree/develop/src/js/ modifications. Changes:

- all media types logic moved to /types/ folder, separate files. This means editing media type or adding new one will not break any other types. Also index.php was too big, and was using "God" unti-pattern.
- Type detection (`checkSupport`) removed, data-type will be used or it will f

[2021-07-03 20:42] viliusle commented on #31
scale with two fingers holding, and moving away from each other?

[2021-07-05 14:50] ocean90 commented on #48
No, but you can probably add a [`postbuild`](https://docs.npmjs.com/cli/v7/using-npm/scripts#pre--post-scripts) script running [something like this](https://github.com/keithamus/npm-scripts-example/blob/master/tips/add-text-banner-to-output-file.md).

[2021-07-05 15:03] midzer commented on #48
Good advice, awesome :)
We'll do this in the upcoming version.

[2021-07-05 15:11] ocean90 commented on #23
I'd probably also add a safe area for the top bar and on smaller screens we may want to reduce the size of the button to 44x44px which is the recommended minimum tappable area for buttons.

Edit: The gallery at the bottom of this [article](https://www.hna.de/lokales/rotenburg-bebra/bad-hersfeld-ort56532/amazon-investiert-13-millionen-euro-am-standort-eichhof-in-bad-hersfeld-90479906.html) does som

[2021-07-06 13:34] #74 closed, assigned to nobody

[2021-07-06 14:24] midzer commented on #46
As it's apparently working we can close this one for good.

Feel free to re-open if you still have issues.

[2021-07-06 14:24] #46 closed, assigned to nobody

[2021-07-06 15:35] viliusle commented on #23
![33](https://user-images.githubusercontent.com/3708786/124628078-cbbcd200-de88-11eb-9c52-0fa0a5c799ac.jpg)
Preview how it can look in small screen.

[2021-07-06 19:50] #64 closed, assigned to nobody

[2021-07-18 14:56] #76 closed, assigned to nobody

[2021-07-18 15:16] viliusle commented on #65
Actually same affect can be achieved by pressing full screen shortcut. And extra button means more UI elements, and more distraction from content/image itself.

p.s. I am not sure if it should be implemented anymore. If there will be no other opinions, I will close this ticket.

[2021-07-18 15:56] viliusle commented on #61
I am thinking about remove timout and leave code in same place. I don't see any issues during testing even after changing transform duration to 5s.

[2021-07-29 19:29] #61 closed, assigned to nobody

[2021-07-29 19:30] viliusle commented on #28
Feel free to reopen, but it should be fixed on next version. Already fixed on develop branch.

[2021-07-29 19:30] #28 closed, assigned to nobody

[2021-07-29 19:31] midzer commented on #61
Thanks for your effort.

Now, I will test `development` branch on one of my live sites.

[2021-07-29 19:37] midzer commented on #1
Big Ups for your work, @viliusle
As there will probably be no breaking change, I'll move it to v2.3.0.

[2021-07-29 19:39] midzer commented on #23
Looking good.
Let's see how it works out live!

[2021-07-29 19:40] viliusle commented on #23
Another version preview:

- max height - 100%
- max-width - 100%
- top line has black color with opacity 0.5
- works well on mobile / small screen, because image can take literally 100% of screen space.

![v3](https://user-images.githubusercontent.com/3708786/127555465-14adcce6-c9fa-4d99-8b46-1a16a6719bea.jpg)

p.s. image above is not at 100%!

[2021-07-29 19:48] midzer commented on #62
We delay the default parameter change for a v3 and use this data-zoom update for v2.3.0

[2021-07-29 19:51] midzer commented on #65
Yeah, I go with your opinion. Let's close this one for good.

If anyone wants to discuss this again, feel free to re-open.

[2021-07-29 20:32] viliusle commented on #31
I just tested it, removing that line does not break navigation on mobile, but allows to zoom image using 2 fingers on mobile.

[2021-07-30 01:15] midzer commented on #48
@ocean90 I've spent some time trying to get this to work according to your example.

Too bad, with `postbuild` you can't pipe the banner properly in the file: js content is replaced and processing does not continue for other files.

There is a way to do it in BASH https://www.cyberciti.biz/faq/bash-prepend-text-lines-to-file/ but it is kinda ugly to put the whole banner in `package.json` several t

[2021-07-30 02:02] midzer commented on #59
@viliusle Can you double check if code works for you? I can't test properly right now...

[2021-07-30 09:41] viliusle opened #82 "Optimizations issues"
This lib will builds huge list of `tobi__slider` elements on page load. During this time, JS blocks everything else like user input, page rendering and so on.

- if we have lots of elements, that need lightbox effect, block time increase
- if user is on mobile,  (JS processing is slower) block time increase a lot
- if using multiple inline HTML blocks with lots of text and DOM elements inside - bl

[2021-07-30 10:13] viliusle commented on #82
I still need to do more test to make sure that creating lots of DOM elements is a problem. Problem could be somewhere else of course.

p.s. confirmed. Adding lots of created sliders into DOM take most JS processing time.

[2021-07-30 19:13] viliusle commented on #59
Does not work. I believe it will need more coding then few lines. Also remember, we can not just ignore duplicates, modal windows still must be called, only element should not be added into gallery items list.

p.s. it also throws JS error

[2021-07-30 19:34] #59 closed, assigned to midzer

[2021-07-30 19:36] viliusle commented on #31
It should work on next version.

[2021-07-30 19:36] #31 closed, assigned to nobody

[2021-07-30 19:50] viliusle commented on #48
It is not only for license compliance, minified resource should include name, version and URL. Problem, that we have 5 js files in dist folder, do we really need all of them?

[2021-07-31 13:02] midzer commented on #31
I can't get this "2-finger-zoom" zoom working on my live site (Android and Safari). Image just moves as of switch the slides.

@viliusle Can you confirm this is working? I could test in `develop` branch demo if I update the `dist` files.

[2021-07-31 18:18] viliusle commented on #31
I tested it again with latest develop branch code on android device, chrome browser. Zoom with 2 fingers works.

p.s. I was able to zoom actual page too, but even i tap on image and modal window is activated, I still can zoom it, but I see that page itself zooms too in background. So it is not only image zoom, but zoom everything.

[2021-08-02 14:44] viliusle commented on #82
Another improvement idea: don't do anything if there are 0 targets to show modal window from.

[2021-08-04 11:14] viliusle opened #83 "Invisible navigation"
On image with white background, navigation icons are invisible. (white icon on white background).

[2021-08-04 18:58] viliusle commented on #83
Looks like already fixed on develop branch.

[2021-08-04 18:58] #83 closed, assigned to nobody

[2021-08-05 06:36] viliusle commented on #48
Related question, why we have both `dist/tobii.js` and `dist/tobii.min.js`, if both are minified?

p.s. first file is smaller.

[2021-08-05 10:39] midzer commented on #48
Maybe @ocean90 has more info about those microbundle dist files

[2021-08-05 19:05] viliusle commented on #82
Issue was with creating multiple empty iframes on page load. Even src is empty, this process is **very** slow. I fixed it by creating iframes only when user clicks on target element (only when needed.)

[2021-08-05 19:05] #82 closed, assigned to nobody

[2021-08-05 19:08] viliusle commented on #79
It is already not working on IE.

[2021-08-30 19:51] jdshaw opened #84 "Wondering if fix for #28 will be in v2.3.0?"
First of all, thanks for making this available! Its the only accessible lightbox that allows grouping of images that I've found.

My question is: Will the fix for #28 be available in v2.3.0 and is there an estimated release date for v2.3.0?

Thanks!

[2021-08-30 20:47] viliusle commented on #84
v2.3.0 is ready, and I believe it can be released even now.

p.s. all milestones for v2.3.0 is done, except license one, which can not be done, because of other issues, and will not be done anytime soon.

@midzer we should release next feature version.

[2021-08-30 21:42] midzer commented on #84
I am going to release the next days.

[2021-08-30 23:47] jdshaw commented on #84
Awesome. Thanks to both of you for all of your hard work!

[2021-08-31 14:04] #1 closed

[2021-08-31 14:05] #23 closed, assigned to nobody

[2021-08-31 14:06] #62 closed, assigned to nobody

[2021-08-31 14:31] midzer commented on #84
It's out now -> https://github.com/midzer/tobii/releases/tag/v2.3.0

[2021-08-31 14:32] #84 closed, assigned to nobody

[2021-08-31 17:06] viliusle opened #85 "Close button position"
In most cases close button in top-right corner works.  But not in all cases.  If we have lots of small images or using inline HTML feature (modal window will be small) or having big screen, close button should be closer to actual content. User focus will be in center, and to exit, he will need to waste time searching for close button and move mouse to close button.

The problem, it is hard to achi

[2021-09-24 08:12] viliusle opened #86 "Retina optimization"
During image init, `srcset` should not be set on page load, but only when lightbox effect is called. `data-srcset` should be used, only only when image is loading, only then set it.

Right now having lots of 2x images for retina, browser will pre-load it even if user will not use lightbox.

Test case:
[code]
All 3 `https://via.placeholder.com/1200.jpg` will be preloaded, which is wrong. Imagine pa

[2021-10-19 12:53] wongjn opened #87 "Dragging not working"
In Chrome, dragging between images is not working in version `2.3.0` (was working in `2.2.0`). One can see this feature is not working by trying to drag in the *Images (grouped)* demo.

[2021-10-19 13:23] midzer commented on #87
Thx for filling @wongjn
I have double checked and can confirm dragging is not working any more, so we have a regression here.

[2021-10-19 14:15] viliusle commented on #87
Dragging requires device with touch screen.

[2021-10-19 14:50] midzer commented on #87
IIRC, dragging used to work but was a bit "clunky" on desktop. So using the next/prev buttons should be preferred.
@wongjn Can you live with that?

[2021-10-19 14:51] wongjn commented on #87
If it still works on mobile then yes I can 😄

[2021-10-19 15:02] midzer commented on #87
Definetely still working properly :)
I close this one for good.

[2021-10-19 15:02] #87 closed, assigned to nobody

[2021-10-24 18:45] midzer commented on #86
Gracias!

[2021-10-24 18:45] #86 closed, assigned to nobody

[2021-11-17 14:15] mbabini opened #88 "Change captionText to use innerHTML instead of textContent"
Hi

It would be great if the output of the captionText function could contain HTML code like line breaks or links.

I suggest the following change:
original:
`this.userSettings.captionText?r.textContent=this.userSettings.captionText(e)`

new:
`this.userSettings.captionText?r.innerHTML=this.userSettings.captionText(e)`

Thank you!

[2021-11-18 13:54] MoritzLost opened #89 "Remove deprecated slash division in favor of math.div"
The `em` function in the `_functions.scss` file uses the deprecated slash syntax for division:

[code]

See  [Breaking Change: Slash as Division](https://sass-lang.com/documentation/breaking-changes/slash-div) for details. Importing the `tobii.scss` causes a warning in Dart Sass and will stop working at all in Dart Sass 2.0. For now I'm just importing the pre-compiled `tobi.min.css` instead – thou

[2021-11-21 19:48] viliusle commented on #88
This can be done easily, of course needs some testing.

[2021-11-21 20:06] viliusle commented on #89
Actually I would go even further, why we need Sass at all, it is 2021, CSS is powerful alone. And for me CSS > SASS for small projects.

[2021-12-02 07:50] taksu opened #90 "HubSpot forms not loading with v2.3.1"
Hi,
I need to show HubSpot form inside a Tobii lighbox.
The form rendered correctly with the release v2.2.0.

The form type in HubSpot is "raw HTML form" and is rendered inline via JavaScript, so it's not an iframe embed.

[code]

v.2.3.0 does not render the form either.
Can you please check what could have broke this with these releases.
Thanks.

[2021-12-02 17:18] viliusle commented on #90
Looks like paid software, so it is very difficult to help you. Real working example from your side could help. Also check console for errors.

[2021-12-03 12:38] taksu commented on #90
Could also be done with a free account and he're examples:

..links removed..

[2021-12-03 16:49] viliusle commented on #90
HTML:

[code]

When use open dialog, HTML content is copied from hidden element to visible area. So this show form when dialog is opened and we ask to show it inside modal.

[2021-12-06 20:59] midzer opened #91 "IE11 broken"
Hi,

I am using `/dist/tobii.min.js` in some of my projects and realized it is not working properly in IE11.

We can fix this by using `NodeList.prototype.forEach`-polyfill -> https://developer.mozilla.org/en-US/docs/Web/API/NodeList/forEach#Polyfill

Can you confirm, @viliusle ?

[2021-12-06 21:27] viliusle commented on #91
Do you know that github.com does not work on IE-11 ? ... Maybe it is time to let it go ...

[2021-12-06 21:52] midzer commented on #91
We can drop it completely in an upcoming v3 https://github.com/midzer/tobii/issues/79

[2021-12-06 22:04] #91 closed, assigned to midzer

[2021-12-09 12:50] taksu commented on #90
That will do the job. Thank you.

[2021-12-09 12:50] #90 closed, assigned to nobody

[2021-12-10 12:13] midzer commented on #89
I think it would be a major change to have CSS alone. We should leave SASS for now, maybe reconsider for a tobii v3.

So we have several options for a fix of this issue:

* Bootstrap compiler
* Dart Sass 2.0 -> would be breaking change for tobii imo
* replace the function

To be honest, I can't decide right now which way to go. If you have a clever opinion on this, go ahead :)

[2021-12-10 12:14] midzer commented on #88
We could try it in `develop` branch.

@mbabini Do you mind opening a PR for this?

[2021-12-10 12:21] midzer commented on #85
Do you think about having something like `data-position="top-left"` for each element to set the close button position? This would mean we can override current close button css via JavaScript. What positions do you want to offer?

If we leave `top-right` as default, there would be no breaking change, as it is just optional.

[2021-12-10 17:49] mbabini commented on #88
@midzer I've tried: https://github.com/midzer/tobii/pull/92
But please check because it's my very first PR... ;-)

[2021-12-10 19:52] viliusle commented on #85
Possible values would be only 2, I do not see why we should add more options.

- absolute top-left (default, current)
- relative top-left (right above image top right corner)

[2021-12-14 14:31] MoritzLost commented on #89
@midzer Drop the function. It's kind of superfluous, there are so many good ways to get relative font sizes. And looks like the function is doing the exact opposite. It takes a pixel value and the base font size just to output an `em` unit that will result in the same pixel size regardless of base font size. So what's even the point of using `em`? If you want a hardcoded size in pixel why not just

[2021-12-14 19:44] viliusle commented on #89
I agree, that this function should be removed and we should use `em` for fonts and `rem` for buttons width and height.

So:
-  if user has default font size as "tiny" - our GUI should have small elements.
-  if user has default font size as "medium" - our GUI should have medium elements. (default for most users)
-  if user has default font size as "large" - our GUI should have large elements.

p.s

[2021-12-25 22:44] reachcalvyn opened #93 "Adding/removing elements"
To reproduce the issue, please do the following in the fiddle: https://jsfiddle.net/s56k8aum/3/

1.  Add First Image
2.  Remove First Image
3.  Add First Image (this causes exception)

Could you please maybe add a method similar to reset or something and call it "refresh"? Basically "refresh" would walk the DOM and refresh based on changes in the DOM.

[2022-01-26 11:00] sz-33 opened #94 "Add in url #selector"
Hello, is it possible to add to the anchor click in url "#selector"?

we could open directly the content?
https://url.com#selector

Thank you for your feedback

[2022-01-31 18:54] #94 closed, assigned to nobody

[2022-02-01 11:42] BernardF956 opened #95 "Problem opening iframe youtube video"
Hi,
I'm trying using tobii to set up kinda video gallery with clickable thumbnails opening an iframe youtube short video.
I customzised your demo page and everything is ok : https://www.temperance.fr/index4.html
When I just copy the same code into a stand alone page (without the demo's table) tobii doesn't seem to init and every click is only linking to a full youtube page : https://www.temperance

[2022-02-01 11:48] midzer commented on #95
Hi @BernardF956
thanks for filing!

In your https://www.temperance.fr/video_gallery_test.html there is an error in console:

You probably have to fix this first, before tobii can do it's work.

[2022-02-01 13:59] BernardF956 commented on #95
Thanks very much for your quick answer.
I updated commenting the "manual" part. I had to purge the cache and things went great.
Tobii is and awesome piece of software.
Best regards

[2022-02-01 14:00] BernardF956 commented on #95
Sorry I forgot to close the issue.

[2022-02-01 14:00] #95 closed, assigned to nobody

[2022-03-23 11:22] Evakos opened #97 "Multiple You Tube Videos"
Hi,

I'm assuming it is possible to include multiple You Tube videos in a gallery arrangement? At the present time if I open one You Tube video in a light box then close it the next video opens the same ID at the same time point.

Thanks in advance.

Chris

[2022-03-23 20:32] viliusle commented on #97
It is possible and it works fine, just tested. Unless you have some rare use case or wrong implementation.

But you should not show multiple videos in same modal window (same group) - bad user experience in most cases.

[2022-03-24 06:58] Evakos commented on #97
Thanks for the reply. they just dynamically rendered in a loop. What is happening is it is just recognising the first instant of the video for multiple videos uploaded in the back-end of WordPress in a custom site. So I'm assuming it is something to do with outputting the multiple videos in a loop.

[2022-04-19 15:18] jakobhaerter opened #98 "Custom Properties Scoping"
Naming of tobii's custom properties interferes with local custom properties due to generalized naming like `--button-background` or `--button-color`, set on `:root` level. A possible solution would be to scope variables inside tobii's parent node or to prefix everything, e.g. `--tb-button-background`.

Thanks!

[2022-04-22 15:09] midzer commented on #98
Good idea, @jakobhaerter and thanks for filling!

As we have two possible solutions, which one would you prefer?

Prefixing those properties with `--tobii-button-background` might be the easier one. Are there any drawbacks?

[2022-04-22 15:11] midzer commented on #97
@Evakos Is this issue resolved then?

[2022-04-22 15:16] midzer commented on #93
@reachcalvyn Thanks for reporting this (possible) bug!

@viliusle can you have a look at this one? I have no clue why it doesn't work in the fiddle.

[2022-04-22 15:18] midzer commented on #89
I would be happy about any PR to get progress going on in this issue.

[2022-04-22 15:20] midzer commented on #85
Yeah, if you need this feature @viliusle just open up a PR and we can discuss the changes.

[2022-04-22 20:08] viliusle commented on #85
I do not need it anymore, because I found a way using hacky CSS, but problem remains. Still it is hard to fix it in current version, so low priority I guess.

[2022-04-22 20:23] viliusle commented on #98
There is very very low risk  breaking somebody code, but fixing it would give much more benefits.

[2022-04-22 20:30] midzer commented on #98
@jakobhaerter @MoritzLost you want to help out and become a first time contributor for tobii?

[2022-04-25 10:20] MoritzLost commented on #98
@midzer @jakobhaerter @viliusle Sure, I've opened a PR for this update here: https://github.com/midzer/tobii/pull/99

The prefix approach is simpler. Scoping the variables to `.tobii` would be a good idea as well, but there's two problems:

- Tobii also uses custom properties for some other classes, like `tobii-zoom`, so the properties would need to be added to all of those.
- Changing the scope t

[2022-04-25 19:30] viliusle commented on #93
I will try to look at this later.

[2022-06-07 10:24] MoritzLost commented on #98
@midzer Can you create a new release with the merged PR? The latest release `v2.3.3` doesn't include it yet. Thanks!

[2022-06-21 15:02] domaxistd opened #100 "No/wrong recalculating of counter after removal of item"
Hello,
it seems that the counter does not recalculate after an item is removed.

1. i add several images to the lightbox -> counter is right
2. i remove an image -> counter is wrong (shows too much items, numbers are mixed)

Is there any workaround or quick fix?

Thanks in advance!
Maxi

[2022-06-23 06:49] midzer commented on #100
Hi @domaxistd

first of all, thanks for opening this issue.

I have to investigate, never used the tobii counter feature myself. Looks like it's related to https://github.com/midzer/tobii/issues/93.

[2022-06-23 06:52] midzer commented on #98
https://github.com/midzer/tobii/releases/tag/v2.4.0 is out.

Let's leave this one open for an upcoming v3 when we can remove the backwards compatibility as a breaking change.

[2022-06-29 09:21] domaxistd commented on #100
Thanks for the fast respond! @midzer

Another problem that occurs is that when i remove and add multiple items, the lightbox shows too much items.
For example:
- i have 3 items added to the lightbox
- the lightbox counter shows 8 items
- i can swipe 8 times before the lightbox closes itself even though there are only 3 items added (it loops through the 3 items)

I have already tried to reset the l

[2022-07-11 17:25] 11bits commented on #89
I see this warning still appears. I think the most straightforward solution is adding calc():

[code]

Not sure if it works in all sass compilers.

[2022-07-12 08:27] 11bits commented on #89
I sent a PR if you want to check it.

[2022-07-12 14:59] reachcalvyn commented on #93
Any update on this issue? I looked at the source code and there are a bunch of TODO statements so it seems the issue may have been already known during development. I am using this in prod and would really appreciate it if this can be fixed.

[2022-07-15 08:15] viliusle commented on #89
![36539165_2179823872032224_5489280242251988992_n](https://user-images.githubusercontent.com/3708786/179181546-c6534b6c-bcdf-44b1-9356-4f2d889c4691.jpg)

Are we 100% sure we want to do it in wrong way? This function should be removed.

p.s. Thank you for PR, but I am trying to look at broader picture.

[2022-07-15 08:33] viliusle commented on #89
I can push commit, which removes this function, if everybody agrees.

[2022-07-15 11:21] 11bits commented on #89
I didn't know it was a bug, but if my PR has been helpful in solving an old issue, that's ok.

[2022-08-01 18:27] felixranesberger commented on #89
In my opinion you shouldn't use calculation functions like these for em values. If switching from pixel to em values in the source code is not possible right now, the pull request should use sass math compiler's like @MoritzLost suggested, since the values basically never change and calculating it inside CSS provides no benefits, because the font-size can already be changed by adjusting the parent

[2022-08-23 15:06] jakobhaerter opened #102 "Missing :hover and :focus styling on prev and next buttons"
Hi there!

I was just randomly checking the color contrast of the prev and next buttons. I noticed they're set to `opacity: .5` and aren't being updated to `opacity: 1` on `:hover` or `:focus`.

Is this the intended behaviour or just a bug?

Thanks!

[2022-08-23 16:40] viliusle commented on #102
`:focus` works, but there is no `:hover` and it would be nice to have.

[2022-08-24 09:31] ABackw opened #103 "Support for multiple lightbox instances."
Old rqrauhvmra tobi-library worked with multiple instances. Why the support has been dropped?

Would it be possible to add a guid to class names (or as a user defined classname as input parameter) instead of hard coded names so the lightbox would work if there are multiple instances of it.

[2022-08-31 09:41] domaxistd commented on #100
Any progress or findings yet?